:root {
    --peach: #eec2a8;
    --sand: #ffeebb;
    --sea-green: #5cb3b1;
    --ocean-blue: #14526b;
    --deep-purple: #280429;
    --rich-red: #71251b;
}

.background-colored {
    background-color: var(--color);
    padding: 5vh 15vw;
}

.background-image {
    height: 100vh; 
    width: 100%;
    background-size: cover; 
    background-position: center;
}

.page-title {
    font-size: 10vh;
    color: var(--deep-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.section-container {
    color: var(--color);
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
    gap: 5vw;
    font-size: 3vh;
}



.skill {
    display: inline-block;
    margin: 1vh 1vw;
    width: fit-content;
    background-color: var(--deep-purple);
    color: var(--sand);
    padding: 1vh 1vw;
    border-radius: 1vh;
    font-size: 2.5vh;
}

.sidenav {
  height: 100vh;
  width: 10vw;
  position: fixed; /* Stays in place even when scrolling */
  z-index: 1000;   /* High number ensures it stays on top of content */
  top: 0;
  left: 0;
  overflow-x: hidden;
}

/* this element is enlarged to fit its parent container sidenav (thus 100vh)
this allows justifycontent and alignitems to work within this container */
.sidenav-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--sand);
    font-size: 3vh;
    margin: 2vh 0;
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
    color: var(--peach);
}

hr {
    height: 0.3vh;
    width: 100%;
    border: none;
    background-color: var(--sand);
}